<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.commerce.mapper.DistrictMapper">
<!--    id属性：表示映射的接口中方法的名称，直接在标签里编写SQL语句-->
<!--    useGeneratedKeys：表示开启某个字段的值递增（主键设置为递增）-->


    <select id="findByParent" resultType="com.smile.commerce.entity.District">
        SELECT
            *
        FROM
            t_dict_district
        WHERE
            parent=#{parent}
        ORDER BY
            code ASC
    </select>

    <select id="findNameByCode" resultType="java.lang.String">
        SELECT name  from t_dict_district where code=#{code}
    </select>
</mapper>