<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smile.commerce.mapper.UserMapper">
<!--    id属性：表示映射的接口中方法的名称，直接在标签里编写SQL语句-->
<!--    useGeneratedKeys：表示开启某个字段的值递增（主键设置为递增）-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        insert into t_user(
            username,password,salt,phone,email,gender,avatar,is_delete,
            created_user,created_time,modified_user,modified_time
        )VALUES (
            #{username},#{password},#{salt},#{phone},#{email},
            #{gender},#{avatar},#{isDelete},
            #{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
        )
    </insert>

    <!-- 询的结果集字段和实体类的user属性名不一致，自定义查询结果集的映射规则   -->
    <resultMap id="UserEntityMap" type="com.smile.commerce.entity.User">
        <id property="uid" column="uid"/>
        <result property="isDelete" column="is_delete"/>
        <result property="createdUser" column="created_user"/>
        <result property="createdTime" column="created_time"/>
        <result property="modifiedUser" column="modified_user"/>
        <result property="modifiedTime" column="modified_time"/>
    </resultMap>

    <!--   User queryUserByUsername(@Param("username") String username); -->
    <!--  用于查询的结果集字段和实体类的user属性名不一致，所以不能使用resultType，必须使用resultMap  -->
    <select id="findByUsername" resultMap="UserEntityMap">
        select * from t_user  where username = #{username}
    </select>

    <update id="updatePasswordByUid">
        update t_user set password = #{password},modified_user = #{modifiedUser},modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>

    <select id="findByUid" resultMap="UserEntityMap">
        select * from t_user where uid=#{uid}
    </select>

    <update id="updateInfoByUid">
        update t_user
        set
            <if test="phone!=null">phone=#{phone},</if>
            <if test="email!=null">email=#{email},</if>
            <if test="gender!=null">gender=#{gender},</if>
            modified_user=#{modifiedUser},
            modified_time = #{modifiedTime}
        where uid = #{uid}
    </update>
</mapper>